@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:ital,wght@0,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    font-family: Montserrat, Fraunces;
    background-color:hsl(30, 38%, 92%);
    width: 100vw;
    height: 100vh;
    position: relative;
}

.perfume{
    letter-spacing: 0.2rem;
    color: hsl(228, 12%, 48%);
}
h2{
    margin: 20px auto;
    font-size: 30px;
    font-family: Fraunces;
    font-weight: 700;
    color: (212, 21%, 14%);
}

.left-container, .right-container{
    width: 100%;
    height: 100%;
    
}

.product{
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.right-container{
    background-color: hsl(0, 0%, 100%);
    padding: 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  
    
}
.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 600px;
    height: 450px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.new-price{
    margin: 25px auto;
    font-size: 30px;
    color: hsl(158, 36%, 37%);
    font-family: Fraunces;
    display: flex;
    align-items: center;
}
.old-price{
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    font-family: Montserrat;
    text-decoration: line-through;
    margin-left: 35px;
}

.description{
    line-height: 22px;
    color: hsl(228, 12%, 48%);
}

button{
    display: flex;
    padding: 15px 60px;
    border: none;
    border-radius: 10px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(158, 36%, 37%);
}
button:hover{
    cursor: pointer;
    background-color:hsl(158, 36%, 37%);
    opacity: 0.9;
}

button:active {
    color:hsl(0, 0%, 100%);
    background-color:hsl(156, 48%, 11%);

}
.cart{
    margin-left: 10px;
    font-weight: 700;
}
.cart-icon{
    margin-left: 10px;
}